//- メニュー
nav#js-globalMenu.globalMenu
  #js-globalOverlay.globalMenu__overlay
    #js-globalContainer.globalMenu__container
      h2.globalMenu__title
        | MENU
      ul.globalMenu__list
        li
          a.globalMenu__link(href="/" data-type="top")
            span.globalMenu__link--en TOP
            span.globalMenu__link--jp トップへ
        li
          a.globalMenu__link(href="/works" data-type="works")
            span.globalMenu__link--en WORKS
            span.globalMenu__link--jp 実績一覧
        li
          a.globalMenu__link(href="/#about" data-type="about")
            span.globalMenu__link--en ABOUT
            span.globalMenu__link--jp 私について
