// =============================================================================
// ベース
// =============================================================================
// -----------------------------------------------------------------
// @import
// -----------------------------------------------------------------
@import "reset";
// @import "_preparation/_fontface/yugothic.scss";
// @import "_preparation/_fontface/helveticaneue.scss";

// -----------------------------------------------------------------
// body
// -----------------------------------------------------------------
body {
  font-family: $fontFamily;
  color: $mainColor;

  // -----------------------------------------------------------------
  // 改行処理
  // -----------------------------------------------------------------
  word-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;

  // -----------------------------------------------------------------
  // iOSスクロールガタつき対策
  // 記述することで強制的にGPU描画処理を使用する
  // https://developer.mozilla.org/ja/docs/Web/CSS/backface-visibility
  // -----------------------------------------------------------------
  backface-visibility: hidden;

  // -----------------------------------------------------------------
  // Macの黒背景白文字の太る現象解消用
  // パリッと感なくなったりするので、場合によっては外す。
  // https://developer.mozilla.org/ja/docs/Web/CSS/font-smooth
  // -----------------------------------------------------------------
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // -----------------------------------------------------------------
  // 自動字詰め
  // https://helpx.adobe.com/jp/fonts/using/open-type-syntax.html
  // -----------------------------------------------------------------
  // font-feature-settings: "palt";
  // font-feature-settings: "pkna";
}
