// =============================================================================
// reset
// =============================================================================
// -----------------------------------------------------------------
// destyle.css
// -----------------------------------------------------------------
@import "node_modules/destyle.css/destyle";

// -----------------------------------------------------------------
// カスタム設定
// -----------------------------------------------------------------
img {
  display: block;
  width: 100%;
  height: auto;
}
svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}
