// =============================================================================
// 設定
// =============================================================================
// =============================================================================
// レガシーIE書き出し用フラグ（MediaQueries S-M 排除用）
// 基本的に出番ないのでスルーしてok
// =============================================================================
$lteIE: false !default;

// ---------------------------------------------------------------
// メディアクエリ
// XL:     pc  ~
// L : tablet  ~  pc - 1
// M : mobile  ~  tablet - 1
// S :         ~  mobile - 1
// ---------------------------------------------------------------
$breakpoints: (
  pc: 1280px,
  tablet: 769px,
  mobile: 481px,
);

// ---------------------------------------------------------------
// font-family
// ---------------------------------------------------------------
$hiraginoFallback: "Hiragino Kaku Gothic ProN", "Hiragino Sans";
$fontFamily: abel, arial, $hiraginoFallback, meiryo, sans-serif;

// ---------------------------------------------------------------
// 画像パス
// ---------------------------------------------------------------
$imgPath: "../images/";

// ---------------------------------------------------------------
// デザインデータの横幅
// ---------------------------------------------------------------
$pc-design-width: 1280;
$sp-design-width: 375;

// =============================================================================
// 色管理
// =============================================================================
// ---------------------------------------------------------------
// 無彩色
// ---------------------------------------------------------------
$whiteColor: #fff;
$blackColor: #000;

// ---------------------------------------------------------------
// ベースカラー
// ---------------------------------------------------------------
$baseColor: $whiteColor;

// ---------------------------------------------------------------
// メインカラー
// ---------------------------------------------------------------
$mainColor: #333;

// ---------------------------------------------------------------
// アクセントカラー
// ---------------------------------------------------------------
$accentColor01: #e1564b;
$accentColor02: #f4a840;
$accentColor03: #30b27f;
$accentColor04: #1dace0;
