//- =============================================================================
//- 共通 - script
//- =============================================================================
script(src=rootPath + "assets/js/vendor.bundle.js")
script(src=rootPath + "assets/js/main.bundle.js")
