header.grobalHeader
  h1.grobalHeader__logo
    a(href="/") ポートフォリオサイト｜石井佑典
  button#js-menuToggle.grobalHeader__menu
    .grobalHeader__menuIcon
      span
  //- メニュー
  include /components/ui/menu/Menu
