// =============================================================================
// font-face
// =============================================================================
// ---------------------------------------------------------------
// Helvetica Neue Medium
// ---------------------------------------------------------------
@font-face {
  font-family: "Helvetica Neue";
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("HelveticaNeueRoman"), local("HelveticaNeue-Roman"), local("Helvetica Neue Roman");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("HelveticaNeueMedium"), local("HelveticaNeue-Medium"), local("Helvetica Neue Medium"), local("HelveticaNeue"), local("Helvetica Neue");
  font-weight: 600;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("HelveticaNeueBold"), local("HelveticaNeue-Bold"), local("Helvetica Neue Bold"), local("HelveticaNeue"), local("Helvetica Neue");
  font-weight: bold;
}
