// =============================================================================
// font-face
// =============================================================================
// ---------------------------------------------------------------
// 游ゴシック クロスブラウザ対策
// ---------------------------------------------------------------
@font-face {
  font-family: "Yu Gothic";
  font-weight: normal;
  src: local("游ゴシック Medium"), local("Yu Gothic Medium");
}

@font-face {
  font-family: "Yu Gothic";
  font-weight: bold;
  src: local("游ゴシック Bold"), local("Yu Gothic Bold");
}
