//- =============================================================================
//- 設定ファイル
//- =============================================================================
-
  //- 開発環境
  const domainLocal = "http://localhost:3000";
  //- ステージング環境
  const domainStaging = "https://staging";
  //- 本番環境
  const domainProduction = "https://production";

  //- 画像のディレクトリ
  const imgRootPath = "/assets/images/"

  //- ブレークポイント
  const breakpoint = 768

//- ページ毎の設定
//- filePath：css,jsの読み込み時のディレクトリ階層を設定(相対パス)
//- pagePath：URL生成時のページパスを設定(絶対パス)
//- head内のtitle,description,keywords,meta生成時などに使用
-
  const pages = {
    top : {
      filePath : "./",
      pagePath : "/",
      title : "",
      description : "",
    },
    workList : {
      filePath : "../",
      pagePath : "/",
      title : "",
      description : "",
    },
    workDetail : {
      filePath : "../../",
      pagePath : "/",
      title : "",
      description : "",
    },
  }

//- 実績一覧
-
  const workListData = {
    1: {
      name: "labo",
      text: "Labo"
    },
  }

//- 実績詳細
-
  const workDetailData = {
    "labo": {
      arraySize: 2,
    },
  }
