//- About
section#about.section
  h2.heading
    span.heading--en ABOUT
    span.heading--ja 私について
  .about
    .about__image
      img(src=`${imgPath}common/profile.png` alt="")
    .about__textBox
      p.about__text
        | 石井 佑典
        br
        | 1992年9月生まれ
      p.about__subText
        | ビールをこよなく愛して止まないTVゲーム好きのエンジニア
        br
        | 座右の銘は「ねだるな、勝ち取れ、さすれば与えられん」
