{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "serviceworker": true,
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "moment": false,
    "_": false,
    "$": true,
    "googletag": true,
    "ga": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-undef": "off",
    "no-var": "error",
    "no-invalid-this": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  }
}
